{% extends 'base.html.twig' %}

{% block body %}
    <h1>Post edit</h1>

    <form name="post" method="post">
      <div>
        <label for="img" class="required">Img</label>
        <input type="file" id="img" name="appbundle_post[img]" />
      </div>
      <div>
        <label for="text" class="required">Text</label>
        <textarea id="text" name="text" required="required">gh</textarea>
      </div>
      <input type="submit" value="Edit" />
    </form>



    <ul>
        <li>
            <a href="{{ path('post_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
