{% extends 'base.html.twig' %}

{% block body %}
    <h1>Editer un post</h1>

    <form id="formPost" name="post" method="post" enctype="multipart/form-data">
      <div>
        <label for="img" class="required">Photo</label>
        <input type="file" id="img" name="img" />
      </div>
      <div>
        <label for="text" class="required">Texte</label>
        <textarea id="text" name="text" required="required">{{ post.text }}</textarea>
      </div>
      <input type="submit" value="Editer" />
    </form>
{% endblock %}
